*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url("../imgs/vex.png");
    background-position: bottom 75% right 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #7d95a0;
}

.logo{
    text-transform: uppercase;
    color: #ffff;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}
.main-menu a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 12px 36px;
    margin: 10px auto;
    border-radius: 40px;
    background: rgba(125, 149, 160, 1);
}

.main-menu li{
    list-style: none;
    display: flex;
    padding: 0 auto;
}

main{
    float: right;
    min-height: 75vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}