*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url("../imgs/touch-screen-6091015_1920.jpg");
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #7d95a0;
}

.logo{
    text-transform: uppercase;
    color: #ffff;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.main-menu a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color:  rgba(125, 149, 160, 1);
    position: relative;
    display: inline-block;
    padding: 32px 100px;
    margin: 15px auto;
    border-radius: 40px;
    box-shadow: 0 0 0 2pt rgb(125, 149, 160);
    background: rgba(36, 36, 36, 0.95);
}

.main-menu li{
    list-style: none;
    display: flex;
    padding: 0 auto;
}

main{
    /* float: left; */
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}